.footer {
  height: 300px;
  position: absolute;
  left: 0;
  bottom: 0;
  // border-top: solid 1px $grey;
  // background-image: url('../images/footer.svg');
  // background-size: 100% 100%;
  // transform: translate3d(0,0,0);
  // text-align: center;
}