.page-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.header {
  height: 687px;
  width: 100%;
  background-image: url('../images/header.svg'), linear-gradient(75deg, $main-pink 15%, $light-pink 55%);
  position: relative;
  text-align: center;
   
  h1 {
    color: white;
    font-family: SourceSansPro-Light;
    font-size: 4.2em;
    line-height: 1.25em;
    margin-top: 200px;
  }

  p {
    color: white;
    font-size: 2em;
    font-family: SourceSansPro-Light;
  }
}

.layer {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url('../images/overlay.png');
  background-size: 128px 128px;
}

a.link-button-white {
  display: inline-block;
  border: solid 1px;
  border-radius: 0.35em;
  padding: 1em 2em;
  margin-top: 30px;
  background: white;
  border-color: rgba(255,255,255,0);
  color: $main-pink;
  font-family: SourceSansPro-Light;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5em;

  &:hover {
    border-color: rgba(255,255,255,0.75);
    background-color: rgba(255,255,255,0.15);
    color: #fff;
  }
}

