@font-face {
font-family: 'SourceSansPro-Regular';
src: url("../fonts/source-sans-pro/SourceSansPro-Regular.eot");
src: url("../fonts/source-sans-pro/SourceSansPro-Regular.otf") format("otf"),
    url("../fonts/source-sans-pro/SourceSansPro-Regular.ttf") format("truetype"),
    url("../fonts/source-sans-pro/SourceSansPro-Regular.woff") format("woff");
}

@font-face {
font-family: 'SourceSansPro-Bold';
src: url("../fonts/source-sans-pro/SourceSansPro-Bold.eot");
src: url("../fonts/source-sans-pro/SourceSansPro-Bold.otf") format("otf"),
    url("../fonts/source-sans-pro/SourceSansPro-Bold.ttf") format("truetype"),
    url("../fonts/source-sans-pro/SourceSansPro-Bold.woff") format("woff");
}

@font-face {
font-family: 'SourceSansPro-Semibold';
src: url("../fonts/source-sans-pro/SourceSansPro-Semibold.eot");
src: url("../fonts/source-sans-pro/SourceSansPro-Semibold.otf") format("otf"),
    url("../fonts/source-sans-pro/SourceSansPro-Semibold.ttf") format("truetype"),
    url("../fonts/source-sans-pro/SourceSansPro-Semibold.woff") format("woff");
}


@font-face {
font-family: 'SourceSansPro-Black';
src: url("../fonts/source-sans-pro/SourceSansPro-Black.eot");
src: url("../fonts/source-sans-pro/SourceSansPro-Black.otf") format("otf"),
    url("../fonts/source-sans-pro/SourceSansPro-Black.ttf") format("truetype"),
    url("../fonts/source-sans-pro/SourceSansPro-Black.woff") format("woff");
}


@font-face {
font-family: 'SourceSansPro-Light';
src: url("../fonts/source-sans-pro/SourceSansPro-Light.eot");
src: url("../fonts/source-sans-pro/SourceSansPro-Light.otf") format("otf"),
    url("../fonts/source-sans-pro/SourceSansPro-Light.ttf") format("truetype"),
    url("../fonts/source-sans-pro/SourceSansPro-Light.woff") format("woff");
}